@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #fff;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.checkImg {
  margin-bottom: 2rem;
}

.checkImg img {
  width: 75px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  width: 10ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

p {
  display: block;
  font-weight: 400;
  font-size: 1rem;
  color: hsl(211, 8%, 45%);
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}

.button {
  background-color: hsl(211, 69%, 61%);
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button:hover {
  background-color: hsl(211, 57%, 53%);
}

i {
  padding-right: 0.2rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 280px) {
  .checkImg img {
      width: 70px;
  }

  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 0.8rem;
  }

  a {
    font-size: .8rem;
  }
  .button {
      padding: .8rem;
  }

  i {
      font-size: 1.3rem;
  }
}
@media screen and (min-width:768px) {
  .checkImg img {
      width: 110px;
  }

  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1.5rem;
  }

  a {
    font-size: 1.5rem;
  }
  .button {
      padding: 1.2rem;
  }

  i {
      font-size: 2rem;
  }
}
